


a#modalBtn {
    color: aliceblue;
}









  @import url( 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' );
@import url( 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' );

.adminDemoVideo {
  position: relative;
  display: inline-block;
}
.adminDemoVideo::before {
    content: '\f144';
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate( -50%, -50% );
    padding: 3px 15px 3px 25px;
    color: white;
    font-family: 'FontAwesome';
    font-size: 50px !important;
    background-color: rgba(23, 35, 34, 0.75);
    border-radius: 5px 5px 5px 5px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-left: 1px;
    box-sizing: border-box;
    background-color: #d31818;
    display: inline-block;
    border-radius: 50%;
    width: 34px;
    height: 30px;
    line-height: 25px;
    opacity: 1;
}

yhide#hdnl {
    font-size: 0px;
}







div#yehianew {
    position: absolute;
        position: absolute;
    top: -1830px;
    left: 700px;
    right: -400px;

}

 
.block {
    display: block;
    position: relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: 286px;
    height: 491px;
    border: 2px solid #ffffff;
}

.product {
  display: block;
  position: relative;
}

.product img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info {
  display: block;
  position: relative;
  padding: 20px;
}

.details {
  border-top: 1px solid #e5e5e5;
  padding: 14px 20px;
}

.buttons {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
}

.product:hover .buttons, .product:hover a {
  opacity: 1;
}

.buttons a {
  display: block;
  position: absolute;
  left: 50px;
  width: 115px;
  border-radius: 2px;
  padding: 15px 10px 15px 65px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  opacity: 0;
}

.buttons a::after {
  content: "";
  display: block;
  position: absolute;
  height: 48px;
  width: 50px;
  border-right: 1px solid rgba(0,0,0,.25);
  box-shadow: 1px 0 0 rgba(255,255,255,.17);
  top: 0;
  left: 0;
  z-index: 1;
}

a.buy {
  top: 20%;
  background: #414141;
  background: rgba(0,0,0,.85);
  -webkit-transition: background .2s ease-in;
  -ms-transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -o-transition: background .2s ease-in;
  transition: background .2s ease-in;
}

.buy:hover {
  backgrond: #515151;
  background: rgba(45,45,45,.85);
}

.buy::after {
  background: url("https://designmodo.com/demo/ecommerce-css3/img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 16px 18px;
}

a.preview {
  bottom: 20%;
  text-shadow: 0 -1px 1px rgba(0,0,0,.4);
  background: #286398;
  background: -webkit-linear-gradient(bottom, #1d4970, #639ed3);
  background: -ms-linear-gradient(bottom, #1d4970, #639ed3);
  background: -moz-linear-gradient(bottom, #1d4970, #639ed3);
  background: -o-linear-gradient(bottom, #1d4970, #639ed3);
  background-position: 0 -15px;
  background-size: 400px 80px;
  background-repeat: no-repeat;
  box-shadow: 0 2px 0 #165181;
  -webkit-transition: background-position .2s ease-in;
  -ms-transition: background-position .2s ease-in;
  -moz-transition: background-position .2s ease-in;
  -o-transition: background-position .2s ease-in;
  transition: background-position .2s ease-in;
}

.preview:hover, .buy_now:hover {
  background-position: 0 0;
}

.preview:active, .buy_now:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: none;
}

.preview::after {
  background: url("https://designmodo.com/demo/ecommerce-css3/img/eye-icon.png");
  background-repeat: no-repeat;
  background-position: 16px 17px;
}

.info::after {
  display: block;
  position: absolute;
  top: -12px;
  left: 23px;
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.info h4 {
    position: relative;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #372f2b;
    font-family: 'Droid Arabic Naskh', serif;
    margin-left: 16px;
}

.info h4::after {
    display: block;
    position: absolute;
    bottom: 0px;
    content: "";
    width: 200px;
    height: 2px;
    background: #3b86c4;
    margin-left: 5px;
}

.info .description {
    display: block;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #2a2929;
    font-family: 'Droid Arabic Kufi', serif;
}

.info .price {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #372f2b;
  line-height: 26px;
}

.buy_now {
  background: #286398;
  float: right;
  position: relative;
  top: -5px;
  display: block;
  padding: 10px 10px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 0 -1px 1px rgba(0,0,0,.4);
  background: -webkit-linear-gradient(bottom, #1d4970, #639ed3);
  background: -ms-linear-gradient(bottom, #1d4970, #639ed3);
  background: -moz-linear-gradient(bottom, #1d4970, #639ed3);
  background: -o-linear-gradient(bottom, #1d4970, #639ed3);
  background-position: 0 -15px;
  background-size: 400px 80px;
  background-repeat: no-repeat;
  -webkit-transition: background-position .2s ease-in;
  -ms-transition: background-position .2s ease-in;
  -moz-transition: background-position .2s ease-in;
  -o-transition: background-position .2s ease-in;
  transition: background-position .2s ease-in;
  box-shadow: 0 2px 0 #165181;
}

.time {
  padding-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #372f2b;
  background: url("https://designmodo.com/demo/ecommerce-css3/img/clock-icon.png") no-repeat;
  background-position: 0 2px;
}

.rating {
  position: relative;
  top: 2px;
  float: right;
  margin: 0;
  padding: 0;
}

.rating li {
  float: left;
  display: block;
  height: 16px;
  width: 16px;
  margin-left: 5px;
  background: url("https://designmodo.com/demo/ecommerce-css3/img/stars.png") no-repeat 0 0;
}

.rating li.rated {
  background-position: 0px -16px;
}
</style>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>
<style>
a#threemmmmmmores {
    position: absolute;
    top: 270px;
    left: 60px;
    color: gold;
}

h2#morecourseme {
    font-size: 2.2vw;
    color: orange;
}

h2#infomdbtn {
    font-size: 2.2vw;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}



a[class*="btn"] {text-decoration: none;}

.btn-two.mini, .btn-gradient.mini, .btn-effect.mini {
    padding: 1px 1px;
    font-size: 18px;
}
.btn.block, 
.btn-two.block, 
.btn-gradient.block, 
.btn-effect.block {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn-gradient.large {
  padding: 15px 45px; 
  font-size: 22px;
}

/* Colors for .btn and .btn-two */
.btn.purple, .btn-two.purple {
    background-color: #ffffff;
}



/* Button two - I have no creativity for names */
.btn-two {
    color: #863469;
    font-size: xx-large;
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 0 2px 0 -1px rgba(0,0,0,0.13), 0 3px 0 -1px rgba(0,0,0,0.08), 0 3px 13px -1px rgba(0,0,0,0.21);
    position: absolute;
    width: 140px;
    /* text-align-last: center; */
    /* font-size: 500px; */
    text-align-last: center;
    border: 3px solid #6c757d;
    top: -1422px;
    left: 810px;
}
.btn-two:active {
	top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
}

