body {
/*background-image: url("images/view4.jpg");
  background-size: cover;
  background-position: center; */

  /*for scroll bar*/
  position: absolute;
  top: 20px; 
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 30px; 
  overflow-y: scroll;
  overflow-x: hidden;
}

html {
  height: 100%;
  padding-top: 60px;
  /* for scroll bar */
  overflow: auto;
}

::selection {
  background-color: #c0d6e4;
  color: #ffffff;
}

.container {
	opacity: 0.8;
}

/* all the 4 (four) below are for the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
 


::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0, 0,5); 
}

.jumbotron {
  color: black;
  background-color: transparent;
}

.overview {
  text-shadow: 1px 1px 10px #212121;
}

.overview h2 {
    font-size: 2.3em;
    font-size: 30px;
    color: #ffffff;
    width: 77%;
    font-family: 'Oswald', sans-serif;
    /* letter-spacing: 0.2em; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.overview p {
    width: 40%;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-family: inherit;
    font-family: Helvetica, Arial, sans-serif;
    word-spacing: 2px;
    direction: rtl;
    letter-spacing: 0.0325em;
}

img[src="https://s9.postimg.cc/5le4yupa7/logo.png"] {
  margin: auto;
}

.overview-figure {
  padding-right: 5px;
  padding-left: 2px;
  padding-top: 5px;
  
}

.overview-figure img {
  border-radius: 4px;
  border: 3px solid white;
  transition: 1s;
}

.overview-figure img:hover {
  opacity: 0.7;
}

.row-margin {
   padding: 25px 0 25px 5px;
}

.overview-figure img {
  box-shadow: 1px 1px 10px #212121;
}

.hr1 {
  margin: 15px 0;
  width: 20%;
  text-align: right;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.hr2 {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  opacity: 0.2;
  width: 90%;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  background: #212121;
}

.navbar {
  background: #ffffff;

}

.navbar-default .navbar-nav, > li > a {
  color: #ffffff;
  text-shadow: 1px 1px 10px #212121;
  text-transform: uppercase;
  font-size: 0.8em;


}

.navbar-default .navbar-nav>li>a:hover { 
  color: #ffffff;
  transition: 400ms ease-in-out;
  background: #bf0a0a;

}

.navbar-default .navbar-nav>.active>a {
  background: none;
  color: #212121;
}

.navbar-default .navbar-nav>.active>a:hover {
  background: #212121;
  color: #999999;
}

.navbar-default .navbar-brand {
  color: #212121;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
   transition: 1s;
   background: #bf0a0a;
   color: #ffffff;
}


li .facebook-link-top {
  transition:color 600ms ease-in-out;
  color: #dddddd;
  font-size: 19px;
}

li .facebook-link-top:hover {
  color: #3b5998;
  background: none;
}
/*--end of facebook hover color--*/

li .twitter-link-top{
  transition:color 600ms ease-in-out;
  color: #dddddd;
  font-size: 19px;
}

li .twitter-link-top:hover {
  color: #1da1F2;
}
/*--end of twitter hover color--*/

li .skype-link-top {
  transition:color 600ms ease-in-out;
  color: #dddddd;
  font-size: 19px;
}

.skype-link-top:hover {
  color: #00aff0;
}
/*--end of instagram hover color--*/

li .mail-link-top {
  transition:color 600ms ease-in-out;
  color: #dddddd;
  font-size: 19px;
}

li .mail-link-top:hover {
  color: #ff0000;
}
/*--end of mail hover color--*/
/*--end of top social media colors--*/


.btn-danger {
  margin-top: 10px;
  color: #dedede;
  transition: 1s;
  opacity: 1;
}

.btn-danger:hover {
  color: #eeeeee;
  opacity: 1;
  box-shadow: 1px 1px 10px #212121;
}

div#games-section {
  margin-bottom: 55px;
}

/* .games {
  height: 90%;
  padding: 25px;
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
}

.games1 {
  height: 90%;
  padding: 25px;
} */

.clear {
  clear: both;
}

footer {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
	
}

footer a{
  color: #ffffff;
  transition: 1s;
}

footer a:hover{
  color: #989898;
}

img[src="http://itamarrosenblum.com/images/footerLogo.png"] {
  transition: opacity 1s;
}

img[src="http://itamarrosenblum.com/images/footerLogo.png"]:hover {
  opacity: 0.8;
}
.wrapper {
  padding: 30px 0;
}
